
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   <h2><title>Admin Yonetim Sayfası</title></h2> 
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/scripts/jquery-3.0.0.min.js"></script>
</head>
<body>
    <div> 
        <div >
            <a class="btn btn-primary" href="~/Admin/AdminHome/GetRezervations" role="button">Rezervasyonları Görüntüle</a>
            <a class="btn btn-primary" href="~/Home/AnaSayfa" role="button">Yeni Rezervasyon oluştur</a>
            <a class="btn btn-danger" href="~/AdminHome/LogOut" role="button">Çıkış yap</a>
        </div>
       
    </div>
    <script src="~/scripts/bootstrap.min.js"></script>
</body>
</html>
